/*Primary Header */
h1 {
	font-family: 'Rosarivo', serif;
	color: #229999;
	text-align: center;
}

h2 {
	font-family: 'Droid Serif', serif;
	color: #447489;
	text-align: center;
}

h3 {
	font-family: 'PT Serif', serif;
	color: #559390;
	text-align: center;
}
/*body text */
p {
	font-family: 'Lora', serif;
	line-height: 1em;
	color: black;
	text-align: center;
}

/*links*/
a:link,
a:visited {
	border-bottom: double black 2px;
	text-decoration: none;
	text-transform: uppercase;
}

a:hover,
a:active {
	background: blue;
}



/* Set Your Own Margin & Padding */
h2, h3, p {
	margin: 20px 0;
	text-align: center;
}

/* Layout for Style Tile*/
section {
	margin: 20px 0;
	text-align: center;
}

.color-1,
.color-2,
.color-3,
.pattern-1,
.pattern-2,
.pattern-3 {
	border: 1px solid #000;
	float: left;
	margin: 0 10px;
	height: 50px;
	width: 50px;
	text-align: center;
}

/*color palette*/
.color-1 {
	background: #445698;
	text-align: center;
}

.color-2 {
	background: #558193;
	text-align: center;
}

.color-3 {
	background: #504080;
	text-align: center;
}

/*textures*/
.pattern-1 {
	background: url("../img/escheresque_ste.png");
	text-align: center;
}

.pattern-2 {
	background: url("../img/hexellence.png");
	text-align: center;
}

.pattern-3 {
	background: url("../img/use_your_illusion.png");
	text-align: center;
}

/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}